
  
        <nav class="navbar navbar-expand-lg navbar-light bg-primary">
            <a class="navbar-brand" href="#" style="margin-right: 20%;">Online Exam</a>
           
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
              <div class="navbar-nav">
                <a class="nav-item nav-link active"  href="#">Terms & Condition <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link active" href="#">Rules and Regulation</a>
                <a class="nav-item nav-link active" href="#">Procedure</a>
              </div>
            </div>
          </nav>
          
   